<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<th:block th:fragment="footer">

    <footer>
        <div class="row">
            <div class="col-12 col-md-2 text-md-left">
                <div class="mobileViewUrls showOnSmall text-center mb-4">
                    <a href="/">Home </a>
                    <span>|</span>
                    <a href="/loan">Cash Advance </a>
                    <span>|</span>
                    <a href="/faq">FAQ </a>
                </div>
                <small>
                    <span class="title free">Free</span>
                    <span class="title">File</span>
                    <br/>
                    <!--<a target="_blank" href="https://www.google.com/maps/place/Texas+Tax+Refund+Solutions/@29.361294,-98.5057393,17z/data=!3m1!4b1!4m5!3m4!1s0x865c586981b5227d:0x9ce106566da30833!8m2!3d29.3612893!4d-98.5035506">2004 Pleasanton Rd. <br/>San Antonio, TX 78221</a><br/>-->
                    <a target="_blank" href="#">PO Box 1 <br/>San Antonio, TX 74249</a><br/>
                    <a href="tel:8000000000" class="phone-no">(800) 000-0000</a><br/>
                    © Copyright 2018
                </small>
                <div class="socialIcons mt-3">
                    <a href="https://www.facebook.com/texastaxrefund/" target="_blank">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a href="https://twitter.com/TexasTaxSolu" target="_blank">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                    <i class="fab fa-instagram fa-2x"></i>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row" id="logo-row">
                    <div class="col-md-4 align-self-center footer-logo">
                        <hr class="footer-hrs" />
                    </div>
                    <div class="col-md-4 align-self-center footer-logo">
                        <a href="/" class="main-title">FF</a>
                    </div>
                    <div class="col-md-4 align-self-center footer-logo">
                        <hr class="footer-hrs" />
                    </div>
                </div>
            </div>
            <!--<div class="footerContact text-center hideOnSmall">-->
            <div class="col-12 col-md-2 d-none d-md-block text-right">
                <h6>Helpful Links</h6>
                <small>
                    <a href="/loan">Cash Advance</a><br/>
                    <a href="/">Home</a><br/>
                    <a href="/faq">FAQ</a><br/>
                </small>
            </div>
        </div>
    </footer>

</th:block>

</body>
</html>