<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<th:block th:fragment="footer">

    <footer>
        <div class="row">
            <div class="col-12 col-md-2 text-md-left">
                <div class="mobileViewUrls showOnSmall text-center mb-4">
                    <a href="/">Home </a>
                    <span>|</span>
                    <a href="/loan">Tax Advance </a>
                    <span>|</span>
                    <a href="/faq">FAQ </a>
                </div>
                <small>
                    <span class="title free">Free</span>
                    <span class="title">File</span>
                    <br/>
                    <a target="_blank" href="#">P.O. Box 100 <br/>San Antonio, TX 78023</a><br/>
                    <a href="tel:8667373334" class="phone-no">(866) 737-3334</a><br/>
                    © Copyright 2018
                </small>
                <div class="socialIcons mt-3">
                    <a href="https://www.facebook.com/texastaxrefund/" target="_blank" class="social-links">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a href="https://twitter.com/TexasTaxSolu" target="_blank" class="social-links">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                    <a href="#" target="_blank" class="social-links">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row" id="logo-row">
                    <div class="col-md-4 align-self-center footer-logo">
                        <hr class="footer-hrs" />
                    </div>
                    <div class="col-md-4 align-self-center footer-logo">
                        <a href="/" class="main-title">FF</a>
                    </div>
                    <div class="col-md-4 align-self-center footer-logo">
                        <hr class="footer-hrs" />
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 d-none d-md-block text-right">
                <h6>Helpful Links</h6>
                <small>
                    <a href="/loan">Tax Advance</a><br/>
                    <a href="/">Home</a><br/>
                    <a href="/faq">FAQ</a><br/>
                </small>
            </div>
        </div>
    </footer>

</th:block>

</body>
</html>