

/*.mt-5, .my-5 {*/
    /*margin-top: 5rem!important;*/
/*}*/

body {overflow-x: hidden;}

.mailIcon i {
    transition: var(--easeIn);
    color: var(--primary-color);
}

.mailIcon i:hover {
    color: var(--primary-color-hover);
    transition: var(--easeOut);
    font-size: 3.2rem;
}

.navAlt {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 0 10rem 0 10rem;
}

@media screen and (max-width: 575px) {

    .hideOnSmall {
        display: none;
    }

    .card-body {
        padding: 0 1rem 0 1rem;
    }
}