@import url('https://fonts.googleapis.com/css?family=Anton|Roboto:400,500,700|Bungee');

/* color and transition variables */
:root {
    --primary-color: #07893E;
    --primary-color-hover: #83C49F;
    --secondary-color: #071189;
    --secondary-color-hover: #8388C4;
    --btn-color: black;
    --easeOut: all 0.25s ease-out;
    --cool-color: #E0F0E7;
}

body, html {
    font-family: 'Roboto', Helvetica, sans-serif;
    text-align: center;
    height: 100%;
}

.animated.delay-7s {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.btn-custom { transition: ease .5s; }
.btn-custom:hover { letter-spacing: 1px; }

.btn-custom-blue {
    background-color: var(--secondary-color);
    color: white;
}
.btn-custom-blue:hover {
    background-color: var(--secondary-color-hover);
    color: white;
}

.title {
    font-family: 'Bungee', Helvetica, sans-serif; !important;
    font-weight: 900;
}

/* ===== NAVBAR ===== */

.nav-item {
    margin: 0 1em;
}

.main-title {
    font-family: 'Bungee', Helvetica, sans-serif;
    font-size: 78px;
    letter-spacing: 1px;
    color: white;
}

.eff-l {
    color: #1b0090;
}

.eff-r {
    color: #009039
}

.logo-l {
    color: var(--primary-color);
    margin-right: -.25em;
}

.logo-r {
    color: var(--secondary-color);
}
/* welcome */

#welcome {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    background-image: linear-gradient(rgba(7, 137, 62, 0.5), rgba(7, 17, 137, 0.7)), url("../img/handshake.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroText {
    height: 40%;
    /*background: var(--cool-color);*/
    background: transparent;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    width: 100%;
}

/*APP SECTION*/

/*#iphone {*/
    /*width: 80%;*/
    /*height: auto;*/
/*}*/

#iphoneApp {
    margin: 0;
    padding: 0;
    height: 700px;
    width: 100%;
    background: url("../img/smartPhone-logo.png") no-repeat center/cover;
}


/* utility styling */

h1{
    font-family: "Anton", sans-serif;
}


p {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
}

.lead {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 1em;
    color: white;
}

#highlightGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.formContact {
    height: 500px;
}


/* ========  footer style ======== */
footer {
    height: 300px;
    background-color: var(--secondary-color-hover);
    color: var(--cool-color);
}

footer ul {
    list-style-type: none;
    text-align: left;
}

footer li:hover {
    color: var(--primary-color);
    transition: var(--easeOut);
}


/*Cell Phones*/
@media screen and (max-width:500px) {

    .hideOnSmall {
        display: none;
    }

    .main-title {
        font-size: 64px;
    }

}