@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Roboto:400,500,700|Bungee');

/* color and transition variables */
:root {
    --primary-color: #07893E;
    --primary-color-hover: #83C49F;
    --secondary-color: #071189;
    --secondary-color-hover: #8388C4;
    --btn-color: black;
    --easeOut: all 0.25s ease-out;
    --cool-color: #E0F0E7;
}

.animated.delay-7s {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

/* ========== GENERAL ========== */
body, html {
    font-family: 'Roboto', Helvetica, sans-serif;
    text-align: center;
    height: 100%;
}


/*buttons*/
.btn-custom { transition: ease .5s; }
.btn-custom:hover { letter-spacing: 1px; }
.btn-custom-blue {
    background-color: var(--secondary-color);
    color: white;
}
.btn-custom-blue:hover {
    background-color: var(--secondary-color-hover);
    color: white;
}
.btn-custom-green {
    background-color: var(--primary-color);
    color: white;
}
.btn-custom-green:hover {
    background-color: var(--primary-color-hover);
    color: white;
}

.hideOnSmall {
    display: none;
}

.section-header {
    font-family: 'Anonymous Pro', Helvetica, sans-serif;
    font-size: 1.8rem;
}

.hr-green {
    border: var(--primary-color) double 3px;
    width: 80%;
    max-width: 420px;
    margin: 0 auto;
}

/* ===== NAVBAR ===== */

.nav-item {
    margin: 0 1em;
}

.main-title {
    font-family: 'Bungee', Helvetica, sans-serif;
    font-size: 64px;
    letter-spacing: 1px;
    color: white;
}

.eff-l {
    color: #1b0090;
}

.eff-r {
    color: #009039
}

.logo-l {
    color: var(--primary-color);
    margin-right: -.25em;
}

.logo-r {
    color: var(--secondary-color);
}


/* ========== HERO ========== */

#welcome {
    margin: 0;
    padding: 0;
    height: calc(100vh - 65px); /* 100% viewport height, minus height of navbar */
    width: 100%;
    overflow-y: hidden;
    background-image: linear-gradient(rgba(7, 137, 62, 0.5), rgba(7, 17, 137, 0.7)), url("../img/handshake.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    font-family: 'Bungee', Helvetica, sans-serif; !important;
    font-weight: 900;
}

.heroText {
    height: 40%;
    /*background: var(--cool-color);*/
    background: transparent;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    width: 100%;
}

/* ========== ABOUT SECTION ========== */

#about {
    background: radial-gradient(
        rgba(131, 136, 196, .3),
        rgba(255, 255, 255, .9)
    );
    background-size: cover;
    border-bottom: solid var(--secondary-color) 4px;
}

/* ========== SERVICES SECTION ========== */

#services {
    background: linear-gradient(
        rgba(255, 255, 255, .95),
        rgba(255, 255, 255, .95)),
        url("../img/dollars.jpg");
    );
    padding-top: 1.5em;
}

.services > i {
    color: var(--secondary-color);
}

/* ========== QUALIFY SECTION ========== */



/* ========== APP SECTION ========== */

#iphoneApp {
    margin: 0;
    padding: 0;
    height: 400px;
    width: auto;
}

#iphoneAppSection {
    background: linear-gradient(
            rgba(255, 255, 255, 0.85),
            rgba(131, 196, 159, 0.85));
    border-top: solid var(--secondary-color) 4px;
}


/* ========= CONTACT FORM ========= */

#contact {
    border-top: lightgray double 4px;
}


/* utility styling */

h1{
    font-family: "Anton", sans-serif;
}


p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

ul {
    list-style-type: none;
}

.lead {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 1em;
    color: white;
}

#servicesRow1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

/*#servicesRow2 {*/
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
    /*grid-gap: 10px;*/
/*}*/

.formContact {
    height: 500px;
}


/* ========  FOOTER ======== */
footer {
    padding: 2rem;
    background-color: var(--secondary-color-hover);
    color: var(--cool-color);
}

footer a {
    list-style-type: none;
    /*text-align: left;*/
    color: var(--cool-color);
}

footer a:hover {
    color: var(--primary-color);
    transition: var(--easeOut);
}

.socialIcons i {
    padding: 5px 5px 5px 0;
}

.socialIcons i:hover {
    color: var(--primary-color);
    transition: var(--easeOut);
    cursor: pointer;
}

.free {
    margin-right: -.25em;
}

/* ====== footer grid ====== */

.footerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.footerMain {
    text-align: left;
}

/* ====== media breakpoints for devices ====== */

/* Larger Devices */
    @media screen and (min-width: 576px) {

        .hideOnSmall {
            display: block;
        }

        .main-title {
            font-size: 78px;
        }
}

/* mobile device */
@media screen and (max-width: 575px) {

    .hideOnSmall {
        display: none;
    }

    /*#servicesRow2 {*/
        /*display: none;*/
    /*}*/

    #servicesRow1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .footerGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .footerMain {
        text-align: center;
    }
}