<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title>FreeFile | FAQ</title>
    <link rel="stylesheet" th:href="@{/css/faq.css}" />
</head>
<body>

    <!-- ====== ** Navbar ** ====== -->
    <th:block th:include="fragments/nav-alt :: nav-alt" />

    <div class="container-fluid text-center mt-4">
        <div class="mt-5">
            <h2 class="faq-heading mt-5 title">Frequently Asked Questions</h2>
            <hr/>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-center text-md-left">
                <section id="questions">

                    <!-- ===== ** question 1 ** ===== -->
                    <div class="question1 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="headingOne">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                                    <i class="fas fa-question-circle"></i> Is <strong>FreeFile</strong> a free service?
                                </button>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Simply put, Yes!</p>
                                <p>Unlike many “free tax services” advertised by tax preparation companies, <strong>FreeFile</strong> is a truly Full-service tax preparation option.
                                Many tax preparation companies allow for a limited “opportunity” to file for free, but add charges if the Taxpayer requires additional services,
                                which maybe outside the “scope” of what is designated to “free” for their respective free services.</p>
                                <p><strong>FreeFile</strong> will file ALL returns at NO CHARGE!**</p>
                            </div>
                        </div>
                    </div>

                    <!-- ===== ** question 2 ** ===== -->
                    <div class="question2 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="heading headingTwo">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                                    <i class="fas fa-question-circle"></i> Who should file their tax returns with <strong>FreeFile</strong>?
                                </button>
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>You should choose to file your returns with us if you:</p>
                                <ul>
                                    <li>
                                        Earn income in the United States and are required to file a federal income tax return.
                                    </li>
                                    <li>
                                        Require minimal tax advisement assistance, specifically individuals who do not need to specify or itemize their deduction or have special income circumstances* these returns are FREE.
                                    </li>
                                    <li>
                                        Require extensive tax service, more specifically those who own small business, rental property, etc., then a low-fee-for service is available.
                                    </li>
                                    <li>
                                       Services are not limited to anyone.  Our service is designed for ALL taxpayers required to file a federal return, and to include individuals who may have disabilities and/or are limited English speaking persons.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- ===== ** question 3 ** ===== -->
                    <div class="question2 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="headingThree">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                                    <i class="fas fa-question-circle"></i> Where are you located?
                                </button>
                            </div>
                        </div>
                        <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Our <a target="_blank" href="https://www.google.com/maps/place/Texas+Tax+Refund+Solutions/@29.361294,-98.5057393,17z/data=!3m1!4b1!4m5!3m4!1s0x865c586981b5227d:0x9ce106566da30833!8m2!3d29.3612893!4d-98.5035506"> Corporate office</a> is located in Texas, however,
                                our services are available from any location across the United States.</p>
                            </div>
                        </div>
                    </div>

                    <!-- ===== ** question 4 ** ===== -->
                    <div class="question4 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="headingFour">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                                    <i class="fas fa-question-circle"></i> What are your hours of operation?
                                </button>
                            </div>
                        </div>
                        <div id="collapseFour" class="collapse hide" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>During the Tax Season, Monday-Saturday: 9 am – 9 pm CST. We are <strong>closed</strong> on Sundays.<br/></p>
                                <p>Contact us via email 24/7/365.</p>
                            </div>
                        </div>
                    </div>

                    <!-- ===== ** question 5 ** ===== -->
                    <div class="question5 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="headingFive">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-controls="collapseFive">
                                    <i class="fas fa-question-circle"></i> Why should I choose to file with <strong>FreeFile</strong>?
                                </button>
                            </div>
                        </div>
                        <div id="collapseFive" class="collapse hide" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>For many years tax preparation companies charged for these services, which cost many taxpayers upward several hundreds of dollars, for a relatively easy process. Online tax preparation service companies offer a “free” service, until a taxpayer may have questions, then an upgraded tax service option must be purchased to get tax advise help.</p>

                                <p><strong>FreeFile</strong> was designed to help taxpayers get sound tax advice and assistance from a tax professional, when completing their tax returns, without having to pay for help?</p>

                                <p>The <em>real</em> question: <strong>WHY</strong> would you pay for something when it should free?</p>
                            </div>
                        </div>
                    </div>

                    <!-- ===== ** question 6 ** ===== -->
                    <div class="question6 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="headingSix">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseSix">
                                    <i class="fas fa-question-circle"></i> What income limits are eligible for <strong>FreeFile</strong>?
                                </button>
                            </div>
                        </div>
                        <div id="collapseSix" class="collapse hide" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                <p><strong>FreeFile</strong> service is available for ALL taxpayers regardless of income level.</p>
                                <p><small>*** Taxpayers whose types of income create an opportunity for their tax returns to be eligible, or require deductions, expenses, depreciation, or various other costs, will require greater tax professional help. For these types of tax returns, a reasonable professional service will be incurred. (see list of tax filing circumstance, which require additional professional service fee’s).</small></p>
                            </div>
                        </div>
                    </div>
                    <!-- ===== ** question 7 ** ===== -->
                    <div class="question7 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="headingSeven">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-controls="collapseSeven">
                                    <i class="fas fa-question-circle"></i> How do I apply for a Refund Advance Loan?
                                </button>
                            </div>
                        </div>
                        <div id="collapseSeven" class="collapse hide" aria-labelledby="headingSeven" data-parent="#accordionExample">
                            <div class="card-body">
                                Applying for a <em>Refund Advance Loan</em> is EASY. Important program details are included below, or visit <a href="/loan"> here</a> to get started now.
                                <br/>
                                <br/>
                                <ul style="padding-left: 0;">
                                    <li>Inform your tax preparer your interested in a <strong>Refund Advance Loan</strong></li>
                                    <li>Discuss Refund Advance Loan options with taxpayer(s)</li>
                                    <li>No up-front fees for a Refund Advance Loan or remainder of your tax refund deposit</li>
                                    <li>Easy and hassle free</li>
                                    <li>No bank account required</li>
                                    <li>No fees for loans that are 25% of your refund <small>(Interest fee of 36% for loans that 50% or 75% of your refund)</small></li>
                                    <li>Loans available as early as Jan 2 – Feb 28, 2019</li>
                                    <li>Most loans approved within hours</li>
                                    <li>Cards issued to taxpayers immediately if you visit our service center <small>(All others mailed to client within 3 days)</small></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--mobile app question start-->
                    <div class="accordion" id="accordionExample">
                        <div id="headingEight">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEight" aria-controls="collapseEight">
                                <i class="fas fa-question-circle"></i><strong> FreeFile</strong> has a mobile app?
                            </button>
                        </div>
                    </div>
                    <div id="collapseEight" class="collapse hide" aria-labelledby="headingEight" data-parent="#accordionExample">
                        <div class="card-body">
                            <p><strong>Yes</strong>! Our mobile app allows users to actually submit their tax data to our service directly. This includes:</p>
                            <ul style="padding-left: 0;">
                                <li>Options for disbursement of funds</li>
                                <li>Signature capture</li>
                                <li>Tax return document retrieval</li>
                                <li>Review Tax Refund Advance lending options</li>
                            </ul>
                            <p>Save time and protect your private financial documents when filing with our app. Available on both <a target="_blank" href="https://itunes.apple.com/us/app/freefile/id1449296566?mt=8">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.free.file">Google Play</a>.</p>
                            <p>Questions? Contact us via <a href="info@freefile.io?Subject=Question%20About%20%20Mobile-App">email</a> or toll-free <a href="tel:8667373334" class="phone-no">(866) 737-3334</a></p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-12 text-center">
                <h6>Can't find the answer to your question here?<br/>
                    Send us an email:</h6>
                <div class="mailIcon">
                    <a href="mailto:info@freefile.io?Subject=Question%20About%20%20Services"><i class="fas fa-envelope fa-3x"></i></a>
                </div>
            </div>
        </div>

    <!-- ===== ** container end ** ===== -->
    </div>

    <!-- ====== ** footer ** ====== -->
    <th:block th:include="fragments/footer :: footer" />

    <th:block th:include="fragments/scripts :: scripts" />
</body>
</html>