<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title>FreeFile | FAQ</title>
    <link rel="stylesheet" th:href="@{/css/faq.css}" />
</head>
<body>

    <!-- ====== ** Navbar ** ====== -->
    <th:block th:include="fragments/nav-alt :: nav-alt" />

    <div class="container-fluid text-center mt-4">
        <div class="mt-5">
            <h2 class="faq-heading mt-5"><i class="fas fa-question-circle"></i> Frequently Asked Questions</h2>
            <hr/>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <section id="questions">

                    <!-- ===== ** question 1 ** ===== -->
                    <div class="question1 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                                        <i class="far fa-question-circle"></i> Is FreeFile a free service?
                                    </button>
                                </h5>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Simply put, Yes! Unlike many “free tax services” advertised by tax preparation companies, FREEFILE is a truly Full-service tax preparation option.
                                Many tax preparation companies allow for a limited “opportunity” to file for free, but add charges if the Taxpayer requires additional services,
                                which maybe outside the “scope” of what is designated to “free” for their respective free services.<br/>
                                FREEFILE will file ALL returns at NO CHARGE**
                            </div>
                        </div>
                    </div>

                    <!-- ===== ** question 2 ** ===== -->
                    <div class="question2 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="heading headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                                        <i class="far fa-question-circle"></i> Who should file their tax returns with FreeFile?
                                    </button>
                                </h5>
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                You should choose to file your returns with us if you: <br/>
                                - Earn income in the United States and are required to file a federal income tax return.<br/>
                                - Require minimal tax advisement assistance, specifically individuals who do not need to specify or itemize their deduction or have special income circumstances* these returns are FREE.<br/>
                                - Require extensive tax service, more specifically those who own small business, rental property, etc., then a low-fee-for service is available.<br/>
                                - Services are not limited to anyone.  Our service is designed for ALL taxpayers required to file a federal return, and to include individuals who may have disabilities and/or are limited English speaking persons.
                            </div>
                        </div>
                    </div>

                    <!-- ===== ** question 3 ** ===== -->
                    <div class="question2 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                                        <i class="far fa-question-circle"></i> Where are you located?
                                    </button>
                                </h5>
                            </div>
                        </div>
                        <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Our <a target="_blank" href="https://www.google.com/maps/place/Texas+Tax+Refund+Solutions/@29.361294,-98.5057393,17z/data=!3m1!4b1!4m5!3m4!1s0x865c586981b5227d:0x9ce106566da30833!8m2!3d29.3612893!4d-98.5035506"> Corporate office</a> is located in Texas, however,
                                our services are available from any location across the United States.
                            </div>
                        </div>
                    </div>

                    <!-- ===== ** question 4 ** ===== -->
                    <div class="question4 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                                        <i class="far fa-question-circle"></i> What are your hours of operation?
                                    </button>
                                </h5>
                            </div>
                        </div>
                        <div id="collapseFour" class="collapse hide mb-5" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                During the Tax Season, Monday-Saturday: 9 am – 9 pm CST. We are <strong>closed</strong> on Sundays.<br/>
                                Contact us via email 24x7x365.
                            </div>
                        </div>
                    </div>

                    <!-- ===== ** question 5 ** ===== -->
                    <div class="question5 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-controls="collapseFive">
                                        <i class="far fa-question-circle"></i> Why should I choose to file with FreeFile?
                                    </button>
                                </h5>
                            </div>
                        </div>
                        <div id="collapseFive" class="collapse hide mb-5" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                For many years tax preparation companies charged for these services, which cost many taxpayers upward several hundreds of dollars, for a relatively easy process.

                                On-line tax preparation service companies offer a “free” service, until a taxpayer may have questions, then an upgraded tax service option must be purchased to get tax advise help.

                                FREEFILE was designed to help taxpayers get sound tax advice and assistance from a tax professional, when completing their tax returns, without having to pay for help?<br/>

                                The real question is <strong>WHY</strong> would you pay for something when it should free?
                            </div>
                        </div>
                    </div>

                    <!-- ===== ** question 6 ** ===== -->
                    <div class="question6 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="headingSix">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseSix">
                                        <i class="far fa-question-circle"></i> What income limits are eligible for FreeFile?
                                    </button>
                                </h5>
                            </div>
                        </div>
                        <div id="collapseSix" class="collapse hide mb-5" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                FREEFILE service is available for ALL taxpayers regardless of income level.

                                **Taxpayers whose types of income, create an opportunity for their tax returns to be eligible or require deductions, expenses, depreciation, or various other costs*** to be take, will require greater tax professional help.

                                For these types of tax returns, a reasonable professional service will be incurred. (see list of tax filing circumstance, which require additional professional service fee’s). ****
                            </div>
                        </div>
                    </div>
                    <!-- ===== ** question 7 ** ===== -->
                    <div class="question7 questionLead">
                        <div class="accordion" id="accordionExample">
                            <div id="headingSeven">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-controls="collapseSeven">
                                        <i class="far fa-question-circle"></i> How do I apply for a REFUND ADVANCE LOAN?
                                    </button>
                                </h5>
                            </div>
                        </div>
                        <div id="collapseSeven" class="collapse hide mb-5" aria-labelledby="headingSeven" data-parent="#accordionExample">
                            <div class="card-body">
                                Applying for a Refund ADVANCE loan is EASY. Important program details are included below, or visit <a href="/loan"> here</a> to get started now.
                                <br/>
                                <br/>
                                <ul style="padding-left: 0;">
                                    <li>1. Inform your tax preparer your interested in a REFUND ADVANCE Loan.</li>
                                    <li>2. Discuss REFUND ADVANCE options with taxpayer(s).</li>
                                    <li>3. No up-front fees for Refund Advance Loan or remainder of your tax refund deposit.</li>
                                    <li>4. Easy and hassle free</li>
                                    <li>5. No bank account required</li>
                                    <li>6. No fees for loans that are 25% of your refund.  There is an interest fee of 36% for loans that 50% or 75% of your refund.</li>
                                    <li>7. Loans available as early as Jan 2 – Feb 28, 2019.</li>
                                    <li>8. Most loans approved within Hours.</li>
                                    <li>9. Cards issued to taxpayers immediately if you visit our service center.  All others mailed to client within 3 days.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row mt-4 mb-5">
            <div class="col-12 text-center">
                <h6>Can't find the answer to your question here?<br/>
                    Send us an email:</h6>
                <div class="mailIcon">
                    <a href="mailto:info@freefile.io?Subject=Question%20About%20%20Services"><i class="fas fa-envelope fa-3x"></i></a>
                </div>
            </div>
        </div>

    <!-- ===== ** container end ** ===== -->
    </div>

    <!-- ====== ** footer ** ====== -->
    <th:block th:include="fragments/footer :: footer" />

    <th:block th:include="fragments/scripts :: scripts" />
</body>
</html>