<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title>FreeFile | FAQ</title>
    <link rel="stylesheet" th:href="@{/css/faq.css}" />
</head>
<body>

    <!-- ====== ** Navbar ** ====== -->
    <th:block th:include="fragments/navbar :: navbar" />

    <div class="container-fluid text-center mt-4">
        <div class="mt-5">
            <h2 class="faq-heading mt-5"><i class="fas fa-clock header-icons"></i> Frequently Asked Questions</h2>
            <hr/>
        </div>

        <div class="mt-4">
            <div class="row">
                <div class="col-12">
                    <section id="questions mt-5">

                        <!-- ===== ** question 1 ** ===== -->
                        <div class="question1 questionLead">
                            <div class="accordion" id="accordionExample">
                                <div id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                                            <i class="far fa-question-circle"></i> Is FreeFile a free service?
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    If you're annual income is less than $54,000, yes, we're able to offer this exclusive "____" government backed option 100% free.
                                </div>
                            </div>
                        </div>

                        <!-- ===== ** question 2 ** ===== -->
                        <div class="question2 questionLead">
                            <div class="accordion" id="accordionExample">
                                <div id="heading headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                                            <i class="far fa-question-circle"></i> Question Number Two
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Answer for question number TWO will be displayed here.
                                </div>
                            </div>
                        </div>

                        <!-- ===== ** question 3 ** ===== -->
                        <div class="question2 questionLead">
                            <div class="accordion" id="accordionExample">
                                <div id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                                            <i class="far fa-question-circle"></i> Where are you located?
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Answer for question number THREE will be displayed here.
                                </div>
                            </div>
                        </div>

                        <!-- ===== ** question 4 ** ===== -->
                        <div class="question4 questionLead">
                            <div class="accordion" id="accordionExample">
                                <div id="headingFour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                                            <i class="far fa-question-circle"></i> What are your hours of operation?
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseFour" class="collapse hide mb-5" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    Answer for question number FOUR will be displayed here.
                                </div>
                            </div>
                        </div>

                        <!-- ===== ** question 5 ** ===== -->
                        <div class="question5 questionLead">
                            <div class="accordion" id="accordionExample">
                                <div id="headingFive">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-controls="collapseFive">
                                            <i class="far fa-question-circle"></i> Why should I choose to file with FreeFile?
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseFive" class="collapse hide mb-5" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    Because we are trained, certified professionals and want to help.
                                </div>
                            </div>
                        </div>

                        <!-- ===== ** question 6 ** ===== -->
                        <div class="question6 questionLead">
                            <div class="accordion" id="accordionExample">
                                <div id="headingSix">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseSix">
                                            <i class="far fa-question-circle"></i> What if I make more than $54,000/yr?
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseSix" class="collapse hide mb-5" aria-labelledby="headingSix" data-parent="#accordionExample">
                                <div class="card-body">
                                    Answer to question number SIX will be displayed here.
                                </div>
                            </div>
                        </div>
                        <!-- ===== ** question 7 ** ===== -->
                        <div class="question7 questionLead">
                            <div class="accordion" id="accordionExample">
                                <div id="headingSeven">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-controls="collapseSeven">
                                            <i class="far fa-question-circle"></i> Ask another question here?
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseSeven" class="collapse hide mb-5" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                <div class="card-body">
                                    Answer to question number SEVEN will be displayed here.
                                </div>
                            </div>
                        </div>
                        <!-- ===== ** question 8 ** ===== -->
                        <div class="question8 questionLead">
                            <div class="accordion" id="accordionExample">
                                <div id="headingEight">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEight" aria-controls="collapseEight">
                                            <i class="far fa-question-circle"></i> Ask another question here?
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseEight" class="collapse hide mb-5" aria-labelledby="headingEight" data-parent="#accordionExample">
                                <div class="card-body">
                                    Answer to question number EIGHT will be displayed here.
                                </div>
                            </div>
                        </div>
                        <!-- ===== ** question 9 ** ===== -->
                        <div class="question9 questionLead">
                            <div class="accordion" id="accordionExample">
                                <div id="headingNine">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseNine" aria-controls="collapseNine">
                                            <i class="far fa-question-circle"></i> Ask another question here?
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseNine" class="collapse hide mb-5" aria-labelledby="headingNine" data-parent="#accordionExample">
                                <div class="card-body">
                                    Answer to question number NINE will be displayed here.
                                </div>
                            </div>
                        </div>
                        <!-- ===== ** question 10 ** ===== -->
                        <div class="question10 questionLead">
                            <div class="accordion" id="accordionExample">
                                <div id="headingTen">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTen" aria-controls="collapseTen">
                                            <i class="far fa-question-circle"></i> Ask another question here?
                                        </button>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapseTen" class="collapse hide mb-5" aria-labelledby="headingTen" data-parent="#accordionExample">
                                <div class="card-body">
                                    Answer to question number TEN will be displayed here.
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
        <div class="row mt-4 mb-5">
            <div class="col-12 text-center">
                <h6>Don't see your question here? Drop us a line at:</h6>
                <div class="mailIcon">
                    <i class="fas fa-envelope fa-3x"></i>
                </div>
            </div>
        </div>

        <!-- ===== ** container end ** ===== -->
    </div>

    <!-- ====== ** Footer ** ====== -->
    <footer>
        <div class="footerGrid">
            <div class="footerMain">
                <small>
                    <span class="title free">Free</span>
                    <span class="title">File</span><br/>
                    <em>copyright 2018</em>
                    <br/>
                    123 Perfect St. SA, TX<br/>
                    (210) 111-2222<br/>
                    M - F 9am - 9pm<br/>
                    </small>
                <div class="socialIcons mt-3">
                    <i class="fab fa-facebook fa-2x"></i>
                    <i class="fab fa-twitter-square fa-2x"></i>
                    <i class="fab fa-instagram fa-2x"></i>
                </div>
            </div>
            <div class="footerAbout text-right hideOnSmall">
                <h6>About</h6>
                <small>
                    <a href="#">Company</a><br/>
                    <a href="#">Services</a><br/>
                    <a href="#">News</a><br/>
                    <a href="/">Home</a></small>
            </div>
            <div class="footerContact text-center hideOnSmall">
                <h6>Contact</h6>
                <small>
                    <a href="/loan">Loans</a><br/>
                    <a href="#">Press</a><br/>
                    <a href="#">Terms &amp; Conditions</a></small>
            </div>
        </div>
    </footer>

    <th:block th:include="fragments/scripts :: scripts" />
</body>
</html>