<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title>FreeFile | Home</title>
</head>
<body>

    <!--Navbar-->
    <th:block th:include="fragments/navbar :: navbar" />

    <!--Hero Image / Welcome -->
    <div id="welcome">
        <div class="heroText animated fadeIn delay-1s">
            <h1 class="mt-5 main-title">
                <span class="animated fadeIn delay-2s" style="margin-right: -.25em;">
                    Free
                </span>
                <span class="animated fadeIn delay-3s">
                    File
                </span>
            </h1>
            <p class="lead my-3 animated fadeIn delay-5s">We'll take care of it for you.</p>
            <a href="#contact" class="btn btn-outline-light mt-3 animated fadeIn delay-7s btn-custom">Find out More</a>
        </div>
    </div>

    <div class="container-fluid">

        <!--ABOUT FREEFILE-->
        <section id="about" class="row">

            <div class="col-md-2"></div>
            <div class="col-12 col-md-4 mt-4 d-flex align-self-center justify-content-center">
                <p class="section-header" id="wIFF">Our Tax Company mission:</p>
            </div>
            <div class="col-12 d-block d-md-none">
                <hr class="hr-green" />
            </div>
            <div class="col-12 col-md-4 mt-4 p-3 pt-5 h-100">
                <p>
                    Provide accurate and dependable federal income tax advisement and support by providing
                    reliable, practical, efficient tax service for Free.
                </p>
                <p><a href="#contact" class="btn btn-custom btn-custom-blue my-3">Get Started</a></p>
            </div>
            <div class="col-md-2"></div>
        </section>

        <!-- ====== ** SERVICE HIGHLIGHTS ** ====== -->
            <section id="info-section" class="p-4">
                <div class="col-12 my-3 d-flex align-self-center justify-content-center">
                    <h6 class="section-header">Our Services</h6>
                </div>
                <div class="col-12">
                    <hr class="hr-green mb-5" />
                </div>
                <!--services start-->
                <div id="services" class="row px-5">
                    <!--service 1-->
                    <div class="col-sm-12 col-md-6">

                        <i class="fas fa-money-bill-alt fa-4x"></i>
                        <p class="my-4 graytext">
                            Our service is designed for ALL taxpayers required to file a federal return,
                            and to include individuals who may have disabilities and/or are limited English speaking persons. View more <a href="/faq"> here</a>.
                        </p>

                    </div>
                    <!--service 2-->
                    <div class="col-sm-12 col-md-6">

                        <i class="fas fa-user-tie fa-4x"></i>
                        <p class="my-4 graytext">
                            We are US company with over 20 years of tax industry experience. With over 100,000 satisfied,
                            and filed tax clients, FREEFILE has established itself as one of the leading tax preparation companies available.
                        </p>

                    </div>
                </div>
                <div class="row px-5">
                    <!--service 3-->
                    <div class="col-sm-12 col-md-6">

                        <i class="fas fa-clock fa-4x"></i>
                        <p class="my-4 graytext">
                            Our program is simple, fast, efficient, private, secure and FREE. Our customers are able to file their returns with our mobile app,
                            in-person at our corporate location, and via <a href="mailto:info@freefile.io"> email</a> or faxing your documents to (210) 625-3482.
                        </p>

                    </div>
                    <!--service 4-->
                    <div class="col-sm-12 col-md-6">

                        <i class="fas fa-search-dollar fa-4x"></i>
                        <p class="my-4 graytext">
                            Need cash now? Find out how you can access more cash funds and make your return work for you <a href="/loan"> here</a>.
                        </p>

                    </div>
                </div>
            </section>

        <!--MOBILE APP SECTION-->
        <section id="iphoneAppSection" class="row py-5">
            <div class="col-12 d-block d-md-none">
                <h3>We have an app!  <i class="fas fa-mobile-alt"></i></h3>
            </div>
            <div class="col-12 col-md-5 my-3 d-flex justify-content-center justify-content-md-end">
                <img id="iphoneApp" th:src="@{../img/smartPhone-logo.png}" alt="iphoneApp" />
            </div>
            <div class="col-12 col-md-7 d-flex align-self-center justify-content-center d-none d-md-block">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                        <h3 class="d-none d-md-block">We have an app!  <i class="fas fa-mobile-alt"></i> </h3>
                    </div>
                    <div class="col-12 my-3 my-md-5">
                        <a target="_blank" href="https://itunes.apple.com/us/app/freefile/id1449296566?mt=8" class="mx-md-3 btn btn-custom btn-custom-green btn-lg">iOS</a>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.free.file" class="ml-3 mx-md-3 btn btn-custom btn-custom-green btn-lg">Google Play</a>
                    </div>
                    <div class="col-12 text-center">
                        <p>No waiting. Just saving.<br/>Can't make it to see one of our professionals for a more personal experience? <br/>Download our mobile app today to skip right to the savings. It's that easy!</p>
                    </div>
                </div>
            </div>
        </section>


        <!-- // ====== FORM ====== \\ -->
        <th:block th:include="fragments/form-index :: form-index" />

        <!-- // ====== container end ====== \\ -->
    </div>

    <!-- // ====== Footer ======  \\-->
    <th:block th:include="fragments/footer :: footer" />

    <th:block th:include="fragments/scripts :: scripts" />
    <script th:src="@{js/form.js}"></script>
</body>
</html>