<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title>FreeFile | Home</title>
</head>
<body>

    <!--Navbar-->
    <th:block th:include="fragments/navbar :: navbar" />

    <!--Hero Image / Welcome -->
    <div id="welcome">
        <div class="heroText animated fadeIn delay-1s">
            <h1 class="mt-5 main-title">
                <span class="animated fadeIn delay-2s" style="margin-right: -.25em;">
                    <!--<span class="eff-l">F</span>ree-->
                    Free
                </span>
                <span class="animated fadeIn delay-3s">
                    <!--<span class="eff-r">F</span>ile-->
                    File
                </span>
            </h1>
            <p class="lead my-3 animated fadeIn delay-5s">We'll take care of it for you.</p>
            <a href="#contact" class="btn btn-outline-light mt-3 animated fadeIn delay-7s btn-custom">Find out More</a>
        </div>
    </div>


    <div class="container">

        <!--ABOUT FREEFILE-->
        <section id="about" class="row my-3">

            <div class="col-12 col-md-6 mt-4 d-flex align-self-center justify-content-center">
                <p class="section-header">About FreeFile</p>
            </div>
            <div class="col-12">
                <hr class="hr-green" />
            </div>
            <div class="col-12 col-md-6 mt-4 p-3">
                <p>
                    Free file is Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium culpa dolores earum, incidunt modi mollitia nulla obcaecati odit, possimus quae quisquam recusandae, sequi.
                </p>
                <a href="#contact" class="btn btn-custom btn-custom-blue my-3">Get Started</a>
            </div>
        </section>

        <!-- ====== ** FreeFile service highlights ** ====== -->
        <section id="services">

            <div class="col-12 col-md-6 mt-4 d-flex align-self-center justify-content-center">
                <h6 class="section-header">Our Services</h6>
            </div>
            <div class="col-12">
                <hr class="hr-green" />
            </div>
            <div id="servicesRow1">
                <div>
                    <p>service 1</p>
                    <i class="fas fa-users fa-3x"></i>
                    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, architecto atque equi sint tenetur vero.</h6>
                </div>
                <div>
                    <p>service 2</p>
                    <i class="fas fa-globe fa-3x"></i>
                    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, architecto atque equi sint tenetur vero.</h6>
                </div>
                <div>
                    <p>service 3</p>
                    <i class="fas fa-balance-scale fa-3x"></i>
                    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, architecto atque equi sint tenetur vero.</h6>
                </div>
            </div>
            <div id="servicesRow2">
                <div>
                    <p>service 4</p>
                    <i class="fas fa-balance-scale fa-3x"></i>
                    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, architecto atque equi sint tenetur vero.</h6>
                </div>
                <div>
                    <p>service 5</p>
                    <i class="fas fa-balance-scale fa-3x"></i>
                    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, architecto atque equi sint tenetur vero.</h6>
                </div>
            </div>
        </section>


        <!--MOBILE APP SECTION-->
        <section id="iphoneAppSection" class="row my-5 py-5">
            <div class="col-12 my-3">
                <img id="iphoneApp" th:src="@{../img/smartPhone-logo.png}" alt="iphoneApp" />
            </div>
            <div class="col-12">
                <p class="mt-3">Get the FreeFile iOS app
                <span><a href="https://itunes.apple.com/US/app/id1075712675?mt=8" class="btn btn-custom btn-custom-blue btn-sm">Here</a></span>
                !</p>
            </div>
        </section>

        <!-- user contact form-->
        <section class="row" id="contact">
            <div class="col-12">
                <p class="section-header">Contact Us</p>
            </div>
            <div class="col-12">
                <hr class="hr-green" />
            </div>
            <div class="col-12 my-4">
                <p class="m-0">Have questions? Ready to get started?</p>
                <small>Fill out the short form below and one of our representatives will contact you!</small>
            </div>
            <div class="col-12" id="form-div">
                <form class="form mt-4" action="https://mailthis.to/mtsolutions18" method="POST" enctype="multipart/form-data">
                    <div class="form-group input-custom">
                        <input class="form-control" type="text" name="First Name" placeholder="First Name"/>
                    </div>
                    <div class="form-group input-custom">
                        <input class="form-control" type="text" name="Last Name" placeholder="Last Name" />
                    </div>
                    <div class="form-group input-custom">
                        <input class="form-control" type="email" name="_replyto" placeholder="Email Address" />
                    </div>
                    <div class="form-group input-custom">
                        <input class="form-control" type="text" name="Contact Number" placeholder="Phone Number"/>
                    </div>
                    <div class="form-group input-custom">
                        <input class="form-control" type="text" name="Additional Info" placeholder="Services Requested (optional)"/>
                    </div>
                    <input type="hidden" name="_subject" value="[ NEW ] FreeFile Form Submission"/>
                    <input type="hidden" name="_after" value="http://freefile.io/"/>
                    <input type="hidden" name="_honeypot" value=""/>

                    <button type="submit" class="btn btn-block btn-custom btn-custom-blue mb-5">Submit</button>
                </form>
            </div>
        </section>

        <!-- container end -->
    </div>

    <!-- ====== ** Footer ** ====== -->
    <footer>
        <div class="footerGrid">
            <div class="footerMain">
                <small>
                    FreeFile text logo<br/>
                    123 Perfect St. SA, TX<br/>
                    (210) 111-2222<br/>
                    M - F 9am - 9pm<br/>
                    copyright 2018</small>
                <div class="socialIcons mt-3">
                    <i class="fab fa-facebook fa-2x"></i>
                    <i class="fab fa-twitter-square fa-2x"></i>
                    <i class="fab fa-instagram fa-2x"></i>
                </div>
            </div>
            <div class="footerAbout text-right hideOnSmall">
                <h6>About</h6>
                <small>
                    <a href="#">Company</a><br/>
                    <a href="#">Services</a><br/>
                    <a href="#">News</a><br/>
                    <a href="/faq">FAQ</a></small>
            </div>
            <div class="footerContact text-center hideOnSmall">
                <h6>Contact</h6>
                <small>
                    <a href="#">Services</a><br/>
                    <a href="#">Loans</a><br/>
                    <a href="#">Press</a><br/>
                    <a href="#">Terms &amp; Conditions</a></small>
            </div>
        </div>
    </footer>

    <th:block th:include="fragments/scripts :: scripts" />
</body>
</html>