<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title>Loan | FreeFile</title>
    <link rel="stylesheet" th:href="@{/css/loan.css}" />
</head>
<body>

    <!--Navbar-->
    <th:block th:include="fragments/navbar :: nav-alt" />

    <div class="container-fluid text-center mt-4">

        <div class="mt-5">
            <h2 class="faq-heading mt-5"><i class="fas fa-dollar-sign"></i> Cash Advance</h2>
            <hr/>
        </div>
        <div class="row" id="about">
            <div class="col-12 px-5">
                <p class="graytext p-4">
                    Need Money Now! We can help. How would you like $500 - $6,000 of your tax refund now!

                    With Santa Barbara Refund Solutions Group , you can be apply for a refund
                    advance loan, and be approved with minutes.
                    <br/>
                    <br/>
                    TPG is excited to offer the Fast Cash ADVANCE program to help you grow your business. The Fast Cash
                    ADVANCE allows you to offer your taxpayers an advance against their expected tax refund. The product
                    is available once the IRS starts accepting tax returns.
                </p>
            </div>
        </div>

        <!-- ====== ** Key Facts ** ====== -->
        <section id="info-section" class="row p-3 hideOnSmall">
            <div class="col-12 my-3 d-flex align-self-center justify-content-center">
                <h6 class="section-header">Program Key Facts</h6>
            </div>
            <div class="col-12">
                <hr class="hr-green mb-5" />
            </div>
            <div class="col-12 px-5">
                <div class="row">
                    <div class="services col-12 col-md-4 px-auto">
                        <!--<p class="mb-3">Zero Cost</p>-->
                        <i class="fas fa-hand-holding-usd fa-4x"></i>
                        <p class="my-4 graytext">
                            * The Fast Cash ADVANCE has multiple possible loan amounts ranging from $500 to $6,000, giving
                            your taxpayer the best chance for loan approval.
                            <br/>
                            <br/>
                            * The Fast Cash ADVANCE is affordable to the taxpayer. The taxpayer may elect to limit its
                            application to an amount that has no interest or other fees. If the taxpayer elects to apply for
                            the entire Fast Cash ADVANCE available to them, they are charged an interest rate of
                            approximately 36% on the total loan amount.
                        </p>
                    </div>
                    <div class="services col-12 col-md-4 px-auto">
                        <!--<p class="mb-3">Certified Professionals</p>-->
                        <i class="fas fa-piggy-bank fa-4x"></i>
                        <p class="my-4 graytext">
                            * The Fast Cash ADVANCE product cost is paid by any interest paid by the taxpayer and fees you,
                            as the preparer, pay. TPG has created an affordable program with reasonable product fees
                            depending on the loan amount the taxpayer is approved for
                            <br/>
                            <br/>
                            * Customers can elect to receive the Fast Cash ADVANCE via cashier’s check or Green Dot
                            Walmart Money card.
                        </p>
                    </div>
                    <div class="services col-12 col-md-4 px-auto">
                        <!--<p class="mb-3">Fast Payment</p>-->
                        <i class="fas fa-award fa-4x"></i>
                        <p class="my-4 graytext">
                            * Customers can visit <a href="https://taxpayer.sbtpg.com/">here</a> to monitor their account status and get updates on
                            their Fast Cash ADVANCE.
                            <br/>
                            <br/>
                            * Once the IRS issues the taxpayer’s refund, TPG will deduct the Fast Cash ADVANCE amount from
                            the refund amount.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- FORM -->
        <section class="row pt-5" id="contact">
            <div class="col-12 col-md-6 my-4 justify-content-end">
                <div class="row">
                    <div class="col-12">
                        <p class="section-header mb-2">Maximize Your Return Today</p>
                    </div>
                    <div class="col-12">
                        <hr class="hr-green mb-4" />
                    </div>
                    <div class="col-12">
                        <p>Complete the short form here and a FreeFile rep will contact you with more information.</p>
                    </div>
                    <div class="col-12">
                        <small><em>Please note, this is a separate service. Terms &amp; conditions may apply.</em></small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5" id="form-div">
                <form class="form needs-validation mt-4" action="https://mailthis.to/FreeFile" method="POST" enctype="multipart/form-data" th:novalidate="true">
                    <div class="form-group input-custom">
                        <input class="form-control" th:id="firstName" type="text" name="First Name" placeholder="First Name" th:required="required"/>
                        <div class="invalid-feedback">
                            * Required field
                        </div>
                    </div>
                    <div class="form-group input-custom">
                        <input class="form-control" type="text" name="Last Name" placeholder="Last Name" th:required="required" />
                        <div class="invalid-feedback">
                            * Required field
                        </div>
                    </div>
                    <div class="form-group input-custom">
                        <input class="form-control" type="email" name="_replyto" placeholder="Email Address" th:required="required" />
                        <div class="invalid-feedback">
                            * Required field
                        </div>
                    </div>
                    <div class="form-group input-custom">
                        <input class="form-control" type="text" name="Contact Number" placeholder="Phone Number" th:required="required"/>
                        <div class="invalid-feedback">
                            * Required field
                        </div>
                    </div>
                        <input type="hidden" name="_subject" value="[ NEW ] Loan Submission"/>
                        <input type="hidden" name="_after" value="http://freefile.io/"/>
                        <input type="hidden" name="_honeypot" value=""/>
                    <button type="submit" class="btn btn-block btn-custom btn-custom-blue mb-5">Submit</button>
                </form>
            </div>
        </section>

        <!--container end-->
    </div>

    <!-- ====== ** footer ** ====== -->
    <footer>
        <div class="row">
            <div class="col-12 col-md-2 text-md-left">
                <div class="mobileViewUrls showOnSmall text-center mb-4">
                    <a href="/">Home </a>
                    <span>|</span>
                    <a href="#about">Cash Advance </a>
                    <span>|</span>
                    <a href="/faq">FAQ </a>
                </div>
                <small>
                    <span class="title free">Free</span>
                    <span class="title">File</span>
                    <br/>
                    <!--<a target="_blank" href="http://maps.google.com/?q=123+Perfect+St+San+Antonio+TX+78259">PO Box 1 <br/>San Antonio, TX 78221</a><br/>-->
                    <a target="_blank" href="#">PO Box 1 <br/>San Antonio, TX 78221</a><br/>
                    <a href="tel:2101112222" class="phone-no">(888) 999-9999</a><br/>
                    © Copyright 2018
                </small>
                <div class="socialIcons mt-3">
                    <i class="fab fa-facebook fa-2x"></i>
                    <i class="fab fa-twitter-square fa-2x"></i>
                    <i class="fab fa-instagram fa-2x"></i>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row" id="logo-row">
                    <div class="col-md-4 align-self-center footer-logo">
                        <hr class="footer-hrs" />
                    </div>
                    <div class="col-md-4 align-self-center footer-logo">
                        <a th:href="'/'" class="main-title">FF</a>
                    </div>
                    <div class="col-md-4 align-self-center footer-logo">
                        <hr class="footer-hrs" />
                    </div>
                </div>
            </div>
            <!--<div class="footerContact text-center hideOnSmall">-->
            <div class="col-12 col-md-2 d-none d-md-block text-right">
                <h6>Helpful Links</h6>
                <small>
                    <a href="#about">Cash Advance</a><br/>
                    <a href="/">Home</a><br/>
                    <a href="/faq">FAQ</a><br/>
                </small>
            </div>
        </div>
    </footer>

    <th:block th:include="fragments/scripts :: scripts" />
    <script th:src="@{js/form.js}"></script>
</body>
</html>