<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title>Loan | FreeFile</title>
    <link rel="stylesheet" th:href="@{/css/loan.css}" />
</head>
<body>

    <!-- // ====== Navbar ====== \\ -->
    <th:block th:include="fragments/nav-alt :: nav-alt" />

    <!--hero image-->
    <div id="welcome-loan">
        <div class="heroText-loan animated">
            <h1 class="main-title-loan">Cash Advance</h1>
            <p class="lead my-3 animated">Get the money you need now. Not later.</p>
            <a href="#contact" class="btn btn-outline-light mt-3 animated btn-custom">Find out More</a>
        </div>
    </div>

    <div class="container-fluid text-center">

        <!-- // ====== Intro ====== \\ -->
        <section id="about" class="row">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-4 mt-4 d-flex align-self-center justify-content-center">
                <p class="section-header" id="wIFF">Need Money Now?</p>
            </div>
            <div class="col-12 d-block d-md-none">
                <hr class="hr-green" />
            </div>
            <div class="col-12 col-md-4 mt-4 p-3 h-100">
                <p>
                    We can help! How would you like $500 - $6,000 of your tax refund now!

                    With Santa Barbara Refund Solutions Group , you can be apply for a refund
                    advance loan, and be approved with minutes.
                    <br/>
                    <br/>
                    TPG is excited to offer the Fast Cash ADVANCE program to help you grow your business. The Fast Cash
                    ADVANCE allows you to offer your taxpayers an advance against their expected tax refund. The product
                    is available once the IRS starts accepting tax returns.
                </p>
                <p><a href="#contact" class="btn btn-custom btn-custom-blue my-3">Find out More</a></p>
            </div>
            <div class="col-md-2"></div>
        </section>

        <!-- // ====== Program Facts ====== \\ -->
        <section id="info-section" class="row p-3 hideOnSmall">
            <div class="col-12 my-3 d-flex align-self-center justify-content-center">
                <h6 class="section-header">Program Facts</h6>
            </div>
            <div class="col-12">
                <hr class="hr-green mb-5" />
            </div>
            <div class="col-12 px-5">
                <div class="row">
                    <div class="services col-12 col-md-4 px-auto">
                        <i class="fas fa-hand-holding-usd fa-4x"></i>
                        <p class="my-4 graytext">
                            * The Fast Cash ADVANCE has multiple possible loan amounts ranging from $500 to $6,000, giving
                            your taxpayer the best chance for loan approval.
                            <br/>
                            <br/>
                            * The Fast Cash ADVANCE is affordable to the taxpayer. The taxpayer may elect to limit its
                            application to an amount that has no interest or other fees. If the taxpayer elects to apply for
                            the entire Fast Cash ADVANCE available to them, they are charged an interest rate of
                            approximately 36% on the total loan amount.
                        </p>
                    </div>
                    <div class="services col-12 col-md-4 px-auto">
                        <i class="fas fa-piggy-bank fa-4x"></i>
                        <p class="my-4 graytext">
                            * The Fast Cash ADVANCE product cost is paid by any interest paid by the taxpayer and fees you,
                            as the preparer, pay. TPG has created an affordable program with reasonable product fees
                            depending on the loan amount the taxpayer is approved for
                            <br/>
                            <br/>
                            * Customers can elect to receive the Fast Cash ADVANCE via cashier’s check or Green Dot
                            Walmart Money card.
                        </p>
                    </div>
                    <div class="services col-12 col-md-4 px-auto">
                        <i class="fas fa-award fa-4x"></i>
                        <p class="my-4 graytext">
                            * Customers can visit <a href="https://taxpayer.sbtpg.com/">here</a> to monitor their account status and get updates on
                            their Fast Cash ADVANCE.
                            <br/>
                            <br/>
                            * Once the IRS issues the taxpayer’s refund, TPG will deduct the Fast Cash ADVANCE amount from
                            the refund amount.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- // ====== FORM ====== \\ -->
        <th:block th:include="fragments/form-loan :: form-loan" />

        <!--container end-->
    </div>

    <!-- // ====== footer ====== \\ -->
    <th:block th:include="fragments/footer :: footer" />

    <th:block th:include="fragments/scripts :: scripts" />
    <script th:src="@{js/form.js}"></script>
</body>
</html>