<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title>Loan | FreeFile</title>
    <link rel="stylesheet" th:href="@{/css/loan.css}" />
</head>
<body>

    <!--Navbar-->
    <th:block th:include="fragments/navbar :: navbar" />

    <div class="container-fluid text-center mt-4 px-5">

        <div class="mt-5">
            <h2 class="faq-heading mt-5"><i class="fas fa-dollar-sign"></i> Personal Loans</h2>
            <hr/>
        </div>

        <section id="loans" class="row p-3">
            <div class="col-12 my-3 d-flex align-self-center justify-content-center">
                <h6 class="section-header">Maximize Your Return Potential</h6>
            </div>
            <div class="col-12">
                <hr class="hr-green mb-5" />
            </div>
            <div class="col-12 px-5">
                <div class="row">
                    <div class="services col-12 col-md-4 px-auto">
                        <!--<p class="mb-3">Zero Cost</p>-->
                        <i class="fas fa-hand-holding-usd fa-4x"></i>
                        <p class="my-4 graytext">Leverage your return to get more cash in your pocket. first reinforcement here.
                            Lorem ipsum dolor sit amet, consectetur earum.</p>
                    </div>
                    <div class="services col-12 col-md-4 px-auto">
                        <!--<p class="mb-3">Certified Professionals</p>-->
                        <i class="fas fa-piggy-bank fa-4x"></i>
                        <p class="my-4 graytext">Do you need an additional 5-10% on top of your return? We can help. Fill out the form below with your information,
                            and let's get the capital you need right now.</p>
                    </div>
                    <div class="services col-12 col-md-4 px-auto">
                        <!--<p class="mb-3">Fast Payment</p>-->
                        <i class="fas fa-award fa-4x"></i>
                        <p class="my-4 graytext">Insert third talking point here. third point reinforcement here. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Adipisci doloremque earum.</p>
                    </div>
                </div>
            </div>
        </section>

        <!--loan form -->
        <section class="row pt-5" id="contact">
            <div class="col-12 col-md-6 my-4 justify-content-end">
                <div class="row">
                    <div class="col-12">
                        <p class="section-header mb-2">Maximize Your Return</p>
                    </div>
                    <div class="col-12">
                        <hr class="hr-green mb-4" />
                    </div>
                    <div class="col-12">
                        <p>Complete the short form here and a FreeFile rep will contact you with more information.</p>
                    </div>
                    <div class="col-12">
                        <small><em>Please note, this is a separate service. Terms &amp; conditions may apply.</em></small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5" id="form-div">
                <form class="form mt-4" action="https://mailthis.to/FreeFile" method="POST" enctype="multipart/form-data" th:onsubmit="errorCheck">
                    <div class="form-group input-custom">
                        <input class="form-control" th:id="firstName" type="text" name="First Name" placeholder="First Name" th:required="required"/>
                    </div>
                    <div class="form-group input-custom">
                        <input class="form-control" type="text" name="Last Name" placeholder="Last Name" th:required="required" />
                    </div>
                    <div class="form-group input-custom">
                        <input class="form-control" type="email" name="_replyto" placeholder="Email Address" th:required="required" />
                    </div>
                    <div class="form-group input-custom">
                        <input class="form-control" type="text" name="Contact Number" placeholder="Phone Number" th:required="required"/>
                    </div>
                        <input type="hidden" name="_subject" value="[ NEW ] Loan Submission"/>
                        <input type="hidden" name="_after" value="http://freefile.io/"/>
                        <input type="hidden" name="_honeypot" value=""/>
                    <button type="submit" class="btn btn-block btn-custom btn-custom-blue mb-5">Submit</button>
                </form>
            </div>
        </section>

        <!--container end-->
    </div>

    <!-- ====== ** footer ** ====== -->
    <footer>
        <div class="row">
            <div class="col-12 col-md-2 text-md-left">
                <div class="mobileViewUrls showOnSmall text-center mb-4">
                    <a href="/">Home </a>
                    <span>|</span>
                    <a href="/faq">FAQ </a>
                    <span>|</span>
                    <a href="#loan">Loan </a>
                </div>
                <small>
                    <span class="title free">Free</span>
                    <span class="title">File</span>
                    <br/>
                    <a target="_blank" href="http://maps.google.com/?q=123+Perfect+St+San+Antonio+TX+78259">123 Perfect St <br/>San Antonio, TX 78259</a><br/>
                    <a href="tel:2101112222" class="phone-no">(210)111-2222</a><br/>
                    M - F 9am - 9pm<br/>
                    © Copyright 2018
                </small>
                <div class="socialIcons mt-3">
                    <i class="fab fa-facebook fa-2x"></i>
                    <i class="fab fa-twitter-square fa-2x"></i>
                    <i class="fab fa-instagram fa-2x"></i>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row" id="logo-row">
                    <div class="col-md-4 align-self-center footer-logo">
                        <hr class="footer-hrs" />
                    </div>
                    <div class="col-md-4 align-self-center footer-logo">
                        <a th:href="'/'" class="main-title">FF</a>
                    </div>
                    <div class="col-md-4 align-self-center footer-logo">
                        <hr class="footer-hrs" />
                    </div>
                </div>
            </div>
            <!--<div class="footerContact text-center hideOnSmall">-->
            <div class="col-12 col-md-2 d-none d-md-block text-right">
                <h6>Helpful Links</h6>
                <small>
                    <a href="/">Home</a><br/>
                    <a href="#loan">Loans</a><br/>
                    <a href="/faq">FAQ</a><br/>
                </small>
            </div>
        </div>
    </footer>

    <th:block th:include="fragments/scripts :: scripts" />
</body>
</html>